body {
    background-color: #8376ff;
    padding:2em;
}

button {
    margin-top: 3em;
    display: block;
    background: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    border-width: 5px;
  }
  
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
    cursor: pointer;
}